
/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* success-message-sent */
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup{
    width: 300px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    text-align: center;
    justify-content: center;
    padding: 0 30px 30px;
}
.popup img{
    width: 80px;
    margin-top: -50%;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0 ,0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fb649;
    color: #fff;
    border: 0;
    outline: none; 
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0 ,0.2);
    transition: transform 0.4s top 0.4s;
}

@media (max-width: 420px) {
    .popup{
        width: 200px;
    }
    .popup img{
        width: 60px;
    }
        
}

@media (max-width: 290px) {
    .popup{
        width: 150px;
    }
    .popup img{
        width: 60px;
    }
        
}